* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

.herobanner {
    width: 100%;
    min-height: calc(100vh - 120px);
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

 .herobanner video{
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.discount {
    height:20rem;
    background-color:rgb(113, 227, 226); ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.discount img {
    height: 20rem;
    width: 50rem;
}

.box {
    margin:3rem
}

.discount h4{
    border: none;
    border-radius: 1rem;
    padding: 3px;
    background-color: gold;
    width: 10rem;
    display: flex;
    justify-content: space-around;
}

.line{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
}

.line h5 {
    background-color: black;
    padding: 1rem;
    color: white;
}

