* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}
.header {
    padding: 1rem;
    padding-left: 2rem;
    background-color: rgb(0, 60, 95);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(241, 92, 92);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    min-height: 2rem;
   
}

.Nal{
    text-decoration: double;
    color: rgb(241, 92, 92);   
}

.Nal:hover{
    text-decoration: none;
}

.NavLink:active{
    color: rgb(255, 18, 18);
}