nav ul li a {
    color: inherit;
    padding: 1rem;
    text-decoration: none;
    font-size: x-large;
    
}

a:hover {
    text-decoration: underline;
}

a.active{
    color: rgb(232, 253, 0);
}

#dropdown-basic:hover {
    text-decoration: underline;
}

.b.active{
    color: rgb(232, 253, 0);
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
}

