body{
    margin: 0 auto;
}
.container {
    background-color: black;
    font-family: 'Darumadrop One', cursive;
    min-height: calc(120vh - 130px);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
    color: rgb(217, 249, 146); 
    position: relative;
}
.container video{
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}