* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

.herobanner {
    width: 100%;
    min-height: calc(90vh - 130px);
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

 .herobanner video{
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover; 
}


