.container {
    background-color: aqua;
    width: 100%;
    height: 20vh;
}





/* .container {
   
    min-height: calc(80vh - 130px);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
    color: rgb(217, 249, 146); 
    position: relative;
}

.container video{
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;


} */